* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282828;
    color: white;
    font-family: 'Arial', sans-serif;
}

.clock {
    font-size: 48px;
    font-weight: bold;
    color: #00FF00;  /* 時計の色 */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* 少し影を付ける */
}

#time {
    display: inline-block;
}
